.titulo {
	text-align: center;
	text-shadow: 1px 1px black;
}

.linha{
	border-bottom-style: solid;
	border-color: #4F4F4F;
	border-width: 2px;

}

#tempo {
	width: 170px; 
	height: 200px;
	background: url('img/tempo.png' );
	background-size: 170px 200px ;
	position: relative;
}

#hora {
	position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 100px;

}